body {
  font-family: Roboto;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #0092f3;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: 'Roboto Slab';
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #000;
  color: #000;
  text-shadow: none;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  margin-top: 24px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  font-family: Lato, sans-serif;
  color: #008eff;
  font-weight: 900;
  text-align: center;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
}

.nav-link {
  padding: 20px;
  border-color: #0a91fc;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
}

.nav-link:hover {
  padding: 20px;
  border-color: transparent;
  box-shadow: inset 0 3px 0 0 #0a91fc;
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #0a91fc;
  color: #0a91fc;
}

.section {
  margin-top: 0em;
  margin-bottom: 0em;
  padding-top: 70px;
  padding-bottom: 70px;
  border-style: none;
  border-top-width: 1px;
  border-top-color: #cfcfcf;
  background-color: #f1f1f1;
}

.section.blue {
  background-color: #e3f3fc;
}

.section.main {
  display: block;
  margin-top: 0px;
  padding-top: 123px;
  border-top-color: #a7a7a7;
  background-color: #fff;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .23);
}

.section.grey {
  background-color: #f0f0f0;
}

.section.image {
  background-image: url('../images/town.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.section.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: none;
  background-color: #f1f1f1;
  color: #fff;
  line-height: 1.5em;
  letter-spacing: 0.5px;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}

.section.purple {
  background-color: #dde7ed;
}

.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #3e5c50;
}

.section.white-section {
  border-top-style: solid;
  background-color: #fff;
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-bottom: 60px;
  font-family: Lato, sans-serif;
  color: #757575;
  font-size: 2em;
  line-height: 1.2em;
  font-weight: 400;
  letter-spacing: 0.5px;
  text-shadow: none;
}

.footer-slogan {
  padding-top: 20px;
  padding-bottom: 10px;
  color: #707070;
  text-align: center;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: 'Roboto Condensed';
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #939596;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.page-link.white {
  border-bottom-color: hsla(0, 0%, 100%, .49);
  color: #fff;
}

.page-link.white:hover {
  border-bottom-color: #fff;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  padding-left: 13px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #fff;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #fff;
}

.newsletter-form {
  width: 70%;
}

.social-icon-group {
  margin-left: 2em;
  float: left;
}

.brand-link {
  text-decoration: none;
}

.brand-link.w--current {
  height: 4em;
}

.success-message {
  background-color: #5f6166;
}

.main-heading {
  margin-top: 16px;
  margin-bottom: auto;
  padding-top: 1em;
  padding-bottom: 0.6em;
  font-family: Lato, sans-serif;
  color: #292929;
  font-size: 2.8em;
  line-height: 1.3em;
  font-weight: 900;
  text-shadow: none;
}

.section-subtitle {
  margin-bottom: 68px;
  font-family: Lato, sans-serif;
  color: #5d5d5d;
  font-size: 19px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature.centered {
  text-align: center;
}

.feature-row {
  margin-top: 59px;
  margin-bottom: 14px;
  padding-right: 10em;
  padding-left: 10em;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 #cecece;
}

.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: 'Roboto Slab';
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 1em;
  color: #1f1f1f;
}

.center-contents {
  text-align: center;
}

.small-features-row {
  margin-top: 71px;
  margin-right: 0px;
  margin-left: 0px;
}

.client-logo {
  width: 16.6%;
}

.press-logo {
  width: 16%;
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.94;
}

.small-text {
  color: hsla(0, 0%, 100%, .31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.column {
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 2em;
  padding-right: 25px;
  padding-left: 25px;
}

.image-2 {
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0px;
  padding-left: 0px;
  float: none;
}

.column-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.text-field {
  display: block;
  width: 70%;
  margin-top: 10px;
  margin-right: 12px;
  float: left;
  border-style: none;
}

.form {
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 #cecece;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: auto;
  padding-bottom: auto;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.image-3 {
  display: block;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
  clear: none;
}

.container {
  padding: 2em 10px;
}

.heading {
  margin-top: 19px;
  margin-bottom: 5px;
  font-family: Lato, sans-serif;
  color: #313131;
  line-height: 1em;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
}

.image-4 {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: auto;
  padding-left: auto;
  float: none;
}

.div-block {
  margin-right: 20px;
  margin-left: 20px;
  padding: 10px;
}

.div-block.person-about-bloc {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 #cecece;
}

.paragraph {
  direction: ltr;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 1.25em;
  font-weight: 400;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: none;
}

.paragraph-2 {
  text-align: center;
}

.paragraph-3 {
  text-align: center;
}

.text-block {
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: auto;
  padding-bottom: auto;
}

.paragraph-4 {
  font-style: normal;
}

.button-2 {
  display: block;
  width: 50%;
  padding: 10px;
  float: none;
  border-radius: 1em;
  text-align: center;
}

.image-5 {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: 0px;
  float: none;
  text-align: left;
}

.image-6 {
  float: none;
  border-radius: 5px;
  box-shadow: 0 3px 7px 0 #cecece, 0 0 6px 0 #cecece;
}

.image-7 {
  float: none;
  box-shadow: 0 0 6px 0 #cecece;
}

.button-3 {
  display: block;
}

.button-4 {
  float: none;
  text-align: center;
}

.heading-2 {
  display: block;
}

.link {
  padding: 10px 13px;
  background-color: #4286f4;
  color: #fff;
  text-align: center;
}

.form-2 {
  width: 100%;
  margin-top: 0px;
  padding-right: 0px;
  padding-left: 0px;
  float: left;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 6px 0 #cecece;
  color: #fff;
}

.text-field-2 {
  display: inline-block;
  width: 60%;
  margin-top: 10px;
  margin-right: 12px;
  margin-left: 1em;
  float: left;
  border-style: none;
  background-color: transparent;
}

.submit-button-2 {
  position: static;
  display: inline-block;
  width: 30%;
  margin-top: 10px;
  margin-right: 1em;
  margin-bottom: 10px;
  padding-top: auto;
  padding-bottom: auto;
  float: left;
  clear: none;
  border-radius: 5px;
  background-color: #0a91fc;
  font-family: Lato, sans-serif;
  font-size: 13px;
  font-weight: 700;
}

.bold-text-2 {
  color: #0874d8;
}

.text-block-2 {
  display: block;
  margin-left: 5px;
  float: left;
  font-family: Lato, sans-serif;
  color: #5a5a5a;
  font-size: 1em;
  line-height: 4em;
  font-weight: 700;
  letter-spacing: 1px;
}

.form-block {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 21px;
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0.5em;
  font-family: Lato, sans-serif;
  color: #0a91fc;
  font-size: 40px;
  font-weight: 700;
}

.body {
  background-color: #fff;
  font-family: Lato, sans-serif;
  color: #858585;
}

.section-2 {
  background-color: #fdfdfd;
}

.text-block-3 {
  margin-bottom: 10px;
  float: none;
  color: #414141;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

.container-2 {
  text-align: center;
}

.text-block-4 {
  margin-bottom: 10px;
  color: #000;
  font-weight: 700;
  text-shadow: none;
}

.heading-4 {
  color: #1f1f1f;
  font-weight: 700;
}

.heading-5 {
  color: #1f1f1f;
  font-weight: 700;
}

.paragraph-5 {
  color: #3f3f3f;
}

.paragraph-6 {
  color: #3f3f3f;
}

.bold-text-3 {
  color: #1a1a1a;
}

.bold-text-4 {
  color: #1f1f1f;
}

.bold-text-5 {
  color: #0079fc;
}

.footer-link {
  display: inline;
  padding-right: 0px;
  padding-left: 0px;
  border-style: none;
  color: #585858;
  font-weight: 700;
  text-decoration: none;
}

.footer-link:hover {
  border-bottom: 2px solid #000;
}

.html-embed {
  display: block;
  text-align: left;
}

.text-block-5 {
  color: #6b6b6b;
  font-size: 1.6em;
  line-height: 1.2em;
  font-weight: 700;
  text-align: center;
}

.text-block-5.wow-block {
  font-size: 1.2em;
}

.row {
  margin-top: 1em;
  margin-bottom: 1em;
  padding-right: 10em;
  padding-left: 10em;
}

.container-3 {
  padding-top: 24px;
}

.section-3 {
  padding-top: 1em;
  padding-bottom: 2em;
  background-color: #f8f8f8;
  color: #1e69b4;
}

.bold-text-6 {
  color: #0a91fc;
  font-size: 1.4em;
}

.bold-text-6.wow-title {
  color: #2a2a2a;
}

.column-3 {
  position: static;
  display: inline-block;
}

.row-2 {
  padding-right: 10em;
  padding-left: 10em;
}

.heading-6 {
  font-weight: 700;
}

.image-8 {
  box-shadow: 0 0 6px 0 #cecece;
}

.feature-image {
  margin-top: 1em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
}

.feature-text {
  margin-top: 1em;
}

.feature-heading {
  color: #1f1f1f;
}

.container-4 {
  padding-right: 10em;
  padding-left: 10em;
}

.bold-text-7 {
  color: #000;
  font-size: 20px;
}

.section-4 {
  margin-top: 5px;
}

.text-block-6 {
  margin-bottom: 15px;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.about-section {
  margin-top: 5em;
  padding-top: 2em;
}

.paragraph-7 {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: Lato, sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  text-align: center;
  text-transform: capitalize;
}

.heading-7 {
  margin-right: 4em;
  margin-left: 4em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  border-top: 1px dashed #0a91fc;
  border-bottom: 1px dashed #0a91fc;
  font-family: Lato, sans-serif;
  color: #0a91fc;
  font-size: 2.4em;
  text-align: center;
}

.italic-text {
  text-align: center;
}

.job-title {
  margin-top: 0px;
  margin-bottom: 1em;
  font-family: Lato, sans-serif;
  color: #6b6b6b;
  text-align: center;
}

.paragraph-8 {
  margin-top: 1em;
  margin-bottom: 2em;
  font-family: Lato, sans-serif;
  color: #616161;
  font-size: 18px;
  text-align: center;
  letter-spacing: 0.04em;
}

.paragraph-8.heh {
  margin-top: 0em;
  font-size: 1em;
  text-align: left;
  letter-spacing: 0.02em;
}

.button-5 {
  display: block;
  width: 20%;
  margin: 4em auto;
  text-align: center;
}

.button-5:hover {
  margin-top: 4em;
  margin-bottom: 4em;
  color: #fff;
}

.section-5 {
  padding-top: 5em;
  background-color: #fff;
}

.section-6 {
  margin-top: 5em;
  padding-top: 2em;
  padding-bottom: 2em;
}

.rich-text-block {
  font-family: Lato, sans-serif;
}

.html-embed-2 {
  font-family: Lato, sans-serif;
}

.recruitment-job-title {
  font-family: Lato, sans-serif;
  font-size: 1.5em;
}

.row-3 {
  font-family: Lato, sans-serif;
}

.unordered-list {
  margin-left: 2em;
}

.column-7 {
  border-left: 1px dotted #000;
}

.textarea {
  height: 20em;
}

.success-message-2 {
  background-color: #fff;
}

.text-block-7 {
  margin-top: 2em;
  margin-bottom: 2em;
  font-family: Lato, sans-serif;
  font-weight: 700;
}

.heading-8 {
  border-style: none;
  border-width: 1px;
  border-color: #000 #000 #3f3f3f;
  font-family: Lato, sans-serif;
  font-size: 24px;
}

.form-3 {
  border-bottom: 1px none #3f3f3f;
}

.image-9 {
  margin-bottom: 2em;
  border: 1px solid #000;
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-link {
    padding: 18px 0px;
    color: #000;
  }
  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }
  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #777;
    background-color: #fff;
    color: #000;
  }
  .newsletter-field {
    width: 100%;
  }
  .newsletter-button {
    width: 100%;
  }
  .main-heading {
    font-size: 3em;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
  .text-field {
    width: 95%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .form {
    margin-right: 10px;
    margin-left: 10px;
  }
  .submit-button {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: auto;
    padding-left: auto;
    float: left;
  }
  .text-field-2 {
    width: 40%;
  }
  .submit-button-2 {
    width: 40%;
  }
  .container-4 {
    padding-right: 5em;
    padding-left: 5em;
  }
  .paragraph-8 {
    margin-bottom: 2em;
    padding-right: 2em;
    padding-left: 2em;
    font-family: Lato, sans-serif;
    color: #000;
    font-weight: 700;
    text-align: center;
  }
  .column-4 {
    margin-bottom: 2em;
  }
  .column-5 {
    margin-bottom: 2em;
  }
  .column-6 {
    margin-bottom: 2em;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }
  .logo-text {
    margin-top: 15px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 0px;
    padding-top: 50px;
  }
  .main-subtitle {
    margin-bottom: 1em;
    text-align: center;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .main-heading {
    font-size: 2em;
    text-align: center;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .column {
    padding-right: 25px;
    padding-left: 25px;
  }
  .image-2 {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
    float: none;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-field {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .form {
    padding-right: 10px;
    padding-left: 10px;
  }
  .submit-button {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .form-2 {
    display: block;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    float: none;
    clear: none;
  }
  .text-field-2 {
    width: 80%;
    margin-right: 0px;
    margin-left: 0em;
    float: none;
  }
  .submit-button-2 {
    width: 100%;
    margin-right: 0px;
    float: none;
  }
  .form-block {
    width: 100%;
  }
  .row {
    padding-right: 5em;
    padding-left: 5em;
  }
  .container-4 {
    padding-right: 2em;
    padding-left: 2em;
  }
  .form-block-2 {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

@media (max-width: 479px) {
  .main-subtitle {
    font-size: 1.2em;
    font-weight: 500;
  }
  .footer-slogan {
    font-size: 14px;
  }
  .newsletter-field {
    width: 100%;
  }
  .newsletter-button {
    width: 100%;
  }
  .main-heading {
    font-size: 2em;
  }
  .feature-row {
    padding-right: 2em;
    padding-left: 2em;
  }
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
  .image-2 {
    width: 80%;
  }
  .text-field {
    width: 100%;
  }
  .image-7 {
    float: none;
  }
  .form-2 {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 10px;
  }
  .text-field-2 {
    width: 100%;
    margin-right: 0px;
  }
  .submit-button-2 {
    width: 100%;
  }
  .heading-3 {
    margin-right: 10px;
    margin-left: 10px;
  }
  .container-4 {
    padding-right: 1em;
    padding-left: 1em;
  }
  .heading-7 {
    margin-right: 1em;
    margin-left: 1em;
  }
  .heading-8 {
    margin-right: 0.5em;
    margin-left: 0.5em;
    border-top-style: none;
  }
  .form-3 {
    border-bottom-style: none;
  }
  .form-block-2 {
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
}

