body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 19px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 500;
}

h2 {
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
  text-align: center;
}

h3 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 22px;
  line-height: 30px;
  font-weight: 500;
}

h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}

h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  margin-right: 14px;
  padding: 13px 23px;
  border-radius: 3px;
  background-color: #0092f3;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12);
  -webkit-transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  transition: background-color 300ms ease, box-shadow 300ms ease, color 300ms ease;
  font-family: 'Roboto Slab', sans-serif;
  color: #fff;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #489fd9;
}

.button.hollow {
  background-color: transparent;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #000;
  color: #000;
  text-shadow: none;
}

.button.hollow:hover {
  background-color: #489fd9;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, .12), inset 0 0 0 2px #489fd9;
  color: #fff;
  text-shadow: none;
}

.button.in-pricing {
  display: block;
  margin-top: 19px;
  margin-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.logo-text {
  margin-top: 24px;
  font-family: Ubuntu, Helvetica, sans-serif;
  color: #1c1c1c;
  font-size: 27px;
  font-weight: 500;
}

.logo-text.footer {
  margin-top: 0px;
  margin-bottom: 19px;
  color: #e6eaed;
}

.navigation {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
}

.nav-link {
  padding: 26px 17px;
  box-shadow: inset 0 3px 0 0 transparent;
  -webkit-transition: box-shadow 500ms ease, color 300ms ease;
  transition: box-shadow 500ms ease, color 300ms ease;
}

.nav-link:hover {
  box-shadow: inset 0 3px 0 0 hsla(0, 0%, 71%, .5);
}

.nav-link.w--current {
  box-shadow: inset 0 3px 0 0 #4dbd90;
  color: #4dbd90;
}

.section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.section.blue {
  background-color: #e3f3fc;
}

.section.main {
  display: block;
  margin-top: 73px;
  background-color: #fff;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .23);
}

.section.grey {
  background-color: #f0f0f0;
}

.section.image {
  background-image: url('../images/town.jpg');
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;
}

.section.footer {
  padding-top: 42px;
  padding-bottom: 42px;
  background-color: #2b2c2e;
  color: #e4e8eb;
}

.section.footer.copyright {
  padding-top: 19px;
  padding-bottom: 19px;
  background-color: #1c1d1f;
  color: #939596;
  font-size: 14px;
}

.section.purple {
  background-color: #dde7ed;
}

.section.clients {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #a1bfd4;
}

.section.press {
  padding-top: 29px;
  padding-bottom: 38px;
  background-color: #3e5c50;
}

.slider {
  display: none;
  height: 360px;
  background-color: #303030;
}

.slide {
  padding-top: 64px;
  padding-bottom: 64px;
}

.slide._1 {
  background-color: #00ad6e;
}

.slide._2 {
  background-color: #00bdd6;
}

.slide._3 {
  background-color: #ccbe00;
}

.main-subtitle {
  margin-bottom: 60px;
  font-family: Roboto, sans-serif;
  color: #8f8f8f;
  font-size: 20px;
  line-height: 26px;
  font-weight: 200;
  letter-spacing: 0.5px;
  text-shadow: none;
}

.footer-slogan {
  margin-bottom: 11px;
  color: #939596;
}

.social-icon {
  margin-right: 11px;
  opacity: 0.41;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.social-icon:hover {
  opacity: 1;
}

.footer-title {
  margin-top: 0px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
}

.page-link {
  border-bottom: 1px solid transparent;
  -webkit-transition: color 300ms ease, border 300ms ease;
  transition: color 300ms ease, border 300ms ease;
  color: #489fd9;
  text-decoration: none;
}

.page-link:hover {
  border-bottom-color: #489fd9;
}

.page-link.in-footer {
  display: block;
  color: #939596;
}

.page-link.in-footer:hover {
  border-bottom-color: transparent;
  color: #d2d7d9;
}

.page-link.white {
  border-bottom-color: hsla(0, 0%, 100%, .49);
  color: #fff;
}

.page-link.white:hover {
  border-bottom-color: #fff;
}

.newsletter-field {
  width: 60%;
  height: 40px;
  float: left;
  border: 1px solid transparent;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  background-color: #e8e8e8;
}

.newsletter-field:focus {
  border-width: 1px;
  border-color: #09f;
  box-shadow: 0 0 6px 0 #489fd9;
}

.newsletter-button {
  width: 40%;
  height: 40px;
  padding-top: 9px;
  padding-bottom: 9px;
  float: left;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  background-color: #5f6166;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #d5d8db;
}

.newsletter-button:hover {
  background-color: #489fd9;
  color: #fff;
}

.newsletter-form {
  width: 70%;
}

.brand-link {
  text-decoration: none;
}

.success-message {
  background-color: #5f6166;
}

.main-heading {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Montserrat, sans-serif;
  color: #292929;
  font-size: 4em;
  line-height: 1.3em;
  font-weight: 600;
  text-shadow: none;
}

.section-subtitle {
  margin-bottom: 68px;
  font-size: 19px;
  line-height: 22px;
  font-weight: 300;
  text-align: center;
}

.bold-text {
  font-weight: 400;
}

.plan-wrapper {
  min-height: 300px;
  padding: 17px;
  border-radius: 3px;
  background-color: #fff;
  color: #2b2b2b;
}

.price-point {
  margin-bottom: 8px;
  font-size: 14px;
}

.price-accent {
  color: #489fd9;
  font-size: 20px;
  letter-spacing: 0px;
}

.addl-feature {
  margin-bottom: 14px;
  font-size: 14px;
  line-height: 18px;
}

.addl-feature.inactive {
  color: #c7c5c5;
  text-decoration: line-through;
}

.divider {
  width: 50%;
  height: 1px;
  margin-top: 13px;
  margin-bottom: 12px;
  background-color: #dbdbdb;
}

.additional-contact {
  margin-top: 21px;
  text-align: center;
}

.feature {
  text-align: left;
}

.feature.centered {
  text-align: center;
}

.feature-row {
  margin-bottom: 14px;
}

.testimonial-slider {
  height: auto;
  margin-top: 45px;
  background-color: transparent;
}

.testimony-slide {
  padding-top: 0px;
  padding-right: 10%;
  padding-left: 10%;
  text-align: center;
}

.testimony-text {
  margin-bottom: 21px;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 25px;
  line-height: 31px;
  font-weight: 300;
}

.slide-nav {
  display: none;
  font-size: 10px;
}

.person {
  width: 70px;
  margin-bottom: 13px;
  border-radius: 100%;
}

.name {
  font-weight: 500;
}

.slider-arrow {
  width: 50px;
  -webkit-transition: color 300ms ease;
  transition: color 300ms ease;
  color: #bdbdbd;
  font-size: 32px;
}

.slider-arrow:hover {
  color: #000;
}

.feature-icon {
  margin-bottom: 12px;
}

.main-feature-group {
  margin-top: 30px;
}

.center-contents {
  text-align: center;
}

.small-features-row {
  margin-top: 71px;
  margin-right: 0px;
  margin-left: 0px;
}

.client-logo {
  width: 16.6%;
}

.press-logo {
  width: 16%;
  margin-right: 2%;
  margin-left: 2%;
  opacity: 0.94;
}

.small-text {
  color: hsla(0, 0%, 100%, .31);
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.column {
  padding-top: 40px;
  padding-bottom: 100px;
}

.image-2 {
  float: right;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.column-2 {
  padding-right: 69px;
}

.text-field {
  display: block;
  width: 70%;
  margin-top: 10px;
  margin-right: 12px;
  float: left;
  border-style: none;
}

.form {
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
  border-radius: 5px;
  box-shadow: 0 0 6px 0 #cecece;
}

.submit-button {
  margin-top: 10px;
  margin-bottom: 10px;
  padding-top: auto;
  padding-bottom: auto;
  border-radius: 5px;
  font-family: Montserrat, sans-serif;
  font-size: 13px;
  font-weight: 300;
}

.image-3 {
  margin-top: 15px;
  margin-bottom: 5px;
  padding-top: auto;
  padding-bottom: auto;
}

.container {
  margin-top: 38px;
  padding-right: 10px;
  padding-left: 10px;
}

.heading {
  margin-top: 19px;
  text-align: center;
}

.image-4 {
  position: static;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-right: auto;
  padding-left: auto;
  float: none;
}

.div-block {
  margin-right: 20px;
  margin-left: 20px;
  padding-right: auto;
  padding-left: auto;
}

.paragraph {
  text-align: center;
}

.paragraph-2 {
  text-align: center;
}

.paragraph-3 {
  text-align: center;
}

.text-block {
  position: static;
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  float: left;
}

.bold-text-2 {
  display: inline-block;
  margin-top: 12px;
  font-size: 20px;
}

html.w-mod-js *[data-ix="fade-in-on-load"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

html.w-mod-js *[data-ix="fade-in-on-scroll"] {
  opacity: 0;
  -webkit-transform: translate(0px, 24px);
  -ms-transform: translate(0px, 24px);
  transform: translate(0px, 24px);
}

@media (max-width: 991px) {
  .button.in-pricing {
    font-size: 14px;
    line-height: 18px;
  }
  .nav-link {
    padding: 18px 0px;
    color: #fff;
  }
  .nav-link:hover {
    box-shadow: inset 0 3px 0 0 transparent;
  }
  .nav-link.w--current {
    box-shadow: inset 0 1px 0 0 transparent;
  }
  .nav-link.menu {
    padding: 22px 17px;
    color: #000;
    font-size: 30px;
  }
  .nav-link.menu.w--open {
    background-color: #000;
    color: #fff;
  }
  .nav-menu {
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: #000;
  }
  .newsletter-field {
    width: 100%;
  }
  .newsletter-button {
    width: 100%;
  }
  .main-heading {
    font-size: 3em;
  }
  .main-feature-group {
    margin-top: 0px;
  }
  .main-image {
    margin-top: 49px;
  }
  .text-field {
    width: 95%;
    margin-right: 0px;
    margin-left: 0px;
  }
  .form {
    margin-right: 10px;
    margin-left: 10px;
  }
  .submit-button {
    display: block;
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    padding-right: auto;
    padding-left: auto;
    float: left;
  }
}

@media (max-width: 767px) {
  h3 {
    margin-bottom: 8px;
  }
  .logo-text {
    margin-top: 15px;
  }
  .nav-link.menu {
    padding-top: 11px;
    padding-bottom: 11px;
  }
  .section {
    padding-top: 43px;
    padding-bottom: 43px;
    text-align: center;
  }
  .section.main {
    margin-top: 51px;
  }
  .main-subtitle {
    text-align: left;
  }
  .nav-menu {
    padding-right: 12px;
    padding-left: 12px;
  }
  .footer-title {
    margin-top: 35px;
  }
  .newsletter-form {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .main-heading {
    font-size: 2em;
    text-align: left;
  }
  .section-subtitle {
    margin-bottom: 44px;
  }
  .plan-wrapper {
    margin-right: 5%;
    margin-bottom: 34px;
    margin-left: 5%;
  }
  .divider {
    width: 100%;
  }
  .feature {
    margin-bottom: 32px;
    text-align: center;
  }
  .feature-icon {
    margin-bottom: 4px;
  }
  .main-feature-group {
    margin-top: 0px;
    margin-bottom: 34px;
  }
  .column {
    padding-right: 25px;
    padding-left: 25px;
  }
  .image-2 {
    display: block;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    padding-right: auto;
    padding-left: auto;
    float: none;
  }
  .column-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .text-field {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
    text-align: left;
  }
  .form {
    padding-right: 10px;
    padding-left: 10px;
  }
  .submit-button {
    width: 100%;
    margin-right: 0px;
    margin-left: 0px;
  }
}

@media (max-width: 479px) {
  .main-subtitle {
    font-size: 1em;
    font-weight: 500;
  }
  .newsletter-field {
    width: 100%;
  }
  .newsletter-button {
    width: 100%;
  }
  .main-heading {
    font-size: 2em;
  }
  .client-logo {
    width: 33.33%;
  }
  .press-logo {
    width: 28%;
  }
  .image-2 {
    width: 80%;
  }
  .text-field {
    width: 100%;
  }
}

