body{
    font-family:Roboto;
    color:#333;
    font-size:16px;
    line-height:22px
}
h1{
    margin-top:0;
    margin-bottom:19px;
    font-size:38px;
    line-height:44px;
    font-weight:500
}
h2{
    margin-top:0;
    margin-bottom:10px;
    font-size:30px;
    line-height:36px;
    font-weight:400;
    text-align:center
}
h3{
    margin-top:0;
    margin-bottom:15px;
    font-size:22px;
    line-height:30px;
    font-weight:500
}
h4{
    margin-top:10px;
    margin-bottom:10px;
    font-size:18px;
    line-height:24px;
    font-weight:700
}
h5{
    margin-top:10px;
    margin-bottom:10px;
    font-size:14px;
    line-height:20px;
    font-weight:700
}
h6{
    margin-top:10px;
    margin-bottom:10px;
    font-size:12px;
    line-height:18px;
    font-weight:700
}
p{
    margin-top:0;
    margin-bottom:5px
}
.active {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, .13);
  background-color: rgba(255,255,255,0.98) !important;
}
.button{
    display:inline-block;
    margin-right:14px;
    padding:13px 23px;
    border-radius:3px;
    background-color:#0092f3;
    box-shadow:0 2px 1px 0 rgba(0,0,0,.12);
    -webkit-transition:background-color .3s ease,box-shadow .3s ease,color .3s ease;
    transition:background-color .3s ease,box-shadow .3s ease,color .3s ease;
    font-family:'Roboto Slab';
    color:#fff;
    text-align:center;
    text-decoration:none
}
.button:hover{
    background-color:#489fd9
}
.logo-text{
    margin-top:24px;
    font-family:Ubuntu,Helvetica,sans-serif;
    color:#1c1c1c;
    font-size:27px;
    font-weight:500
}
.logo-text.footer{
    margin-top:0;
    margin-bottom:19px;
    font-family:Lato,sans-serif;
    color:#008eff;
    font-weight:900;
    text-align:center
}
.navigation{
    position:fixed;
    left:0;
    top:0;
    right:0;
    background-color:#fff0
}
.nav-link{
    padding:20px;
    margin:10px;
    color:rgba(0,0,0,.55);
    font-weight:600
}
.section{
    margin-top:0;
    margin-bottom:0;
    padding-top:70px;
    padding-bottom:70px;
    border-style:none;
    border-top-width:1px;
    border-top-color:#cfcfcf;
    background-color:#f1f1f1
}
.section.main{
    display:block;
    margin-top:0;
    padding-top:123px;
    border-top-color:#a7a7a7;
    background-color:#fff0;
    color:#fff;
    text-shadow:0 1px 0 rgba(0,0,0,.23);
    -webkit-animation:fadein 1.5s;
    -moz-animation:fadein 1.5s;
    -ms-animation:fadein 1.5s;
    -o-animation:fadein 1.5s;
    animation:fadein 1.5s
}
.section.image{
    background-image:url(../images/town.jpg);
    background-position:50% 50%;
    background-size:cover;
    color:#fff
}
.section.footer{
    padding-top:10px;
    padding-bottom:10px;
    border-style:none;
    background-color:#f1f1f1;
    color:#fff;
    line-height:1.5em;
    letter-spacing:.5px
}
.section.footer.copyright{
    padding-top:19px;
    padding-bottom:19px;
    background-color:#1c1d1f;
    color:#939596;
    font-size:14px
}
.section.white-section{
    border-top-style:solid;
    background-color:#fff
}x
.slider{
    display:none;
    height:360px;
    background-color:#303030
}
.slide{
    padding-top:64px;
    padding-bottom:64px
}
.slide._1{
    background-color:#00ad6e
}
.slide._2{
    background-color:#00bdd6
}
.slide._3{
    background-color:#ccbe00
}
.main-subtitle{
    margin-bottom:40px;
    font-family:Lato,sans-serif;
    color:#0000009c;
    font-size:1.5em;
    line-height:1.2em;
    font-weight:400;
    letter-spacing:.5px;
    text-shadow:none
}
.footer-slogan{
    padding-top:20px;
    padding-bottom:10px;
    color:#707070;
    text-align:center
}
.footer-title{
    margin-top:0;
    font-family:'Roboto Condensed';
    font-weight:400;
    text-transform:uppercase
}
.page-link{
    border-bottom:1px solid transparent;
    -webkit-transition:color .3s ease,border .3s ease;
    transition:color .3s ease,border .3s ease;
    color:#489fd9;
    text-decoration:none
}
.page-link:hover{
    border-bottom-color:#489fd9
}
.page-link.in-footer{
    display:block;
    color:#939596
}
.page-link.in-footer:hover{
    border-bottom-color:transparent;
    color:#d2d7d9
}
.page-link.white{
    border-bottom-color:hsla(0,0%,100%,.49);
    color:#fff
}
.page-link.white:hover{
    border-bottom-color:#fff
}
.brand-link{
    text-decoration:none;
    margin-top:5px
}
.main-heading{
    margin-top:16px;
    margin-bottom:auto;
    padding-top:1em;
    padding-bottom:.6em;
    font-family:Lato,sans-serif;
    color:#292929;
    font-size:2.8em;
    line-height:1.3em;
    font-weight:900;
    text-shadow:none
}
.section-subtitle{
    margin-bottom:68px;
    font-family:Lato,sans-serif;
    color:#5d5d5d;
    font-size:19px;
    line-height:22px;
    font-weight:400;
    text-align:center
}
.bold-text{
    font-weight:400
}
.feature{
    text-align:left
}
.feature-row{
    margin-top:59px;
    margin-bottom:14px
}
.card{
    padding:1em;
    margin:1em;
    text-align:center;
    border-radius:20px;
    box-shadow:0 2px 6px 0 rgba(0,0,0,.1)
}
.slide-nav{
    display:none;
    font-size:10px
}
.name{
    font-weight:500
}
.slider-arrow{
    width:50px;
    -webkit-transition:color .3s ease;
    transition:color .3s ease;
    color:#bdbdbd;
    font-size:32px
}
.slider-arrow:hover{
    color:#000
}
.feature-icon{
    margin-bottom:12px
}
.small-features-row{
    margin-top:71px;
    margin-right:0;
    margin-left:0
}
.small-text{
    color:hsla(0,0%,100%,.31);
    font-size:16px;
    font-weight:300;
    text-align:center
}
.column{
    margin-top:0;
    margin-bottom:0;
    padding-top:2em;
    padding-right:25px;
    padding-left:25px
}
.image-2{
    display:block;
    margin-right:auto;
    margin-left:auto;
    padding-right:0;
    padding-left:0;
    float:none
}
.column-2{
    padding-right:0;
    padding-left:0
}
.image-3{
    display:block;
    margin-bottom:0;
    padding-top:0;
    padding-bottom:0;
    float:left;
    clear:none
}
.container{
    padding:2em 10px
}
.heading{
    margin-top:19px;
    margin-bottom:5px;
    font-family:Lato,sans-serif;
    color:#313131;
    line-height:1em;
    font-weight:700;
    text-align:center;
    letter-spacing:1px
}
.crop{
    width:100%;
    height:15em;
    overflow:hidden
}
.div-block{
    margin-right:20px;
    margin-left:20px;
    padding:10px
}
.paragraph{
    direction:ltr;
    font-family:Lato,sans-serif;
    font-size:14px;
    line-height:1.25em;
    font-weight:400;
    text-align:center;
    letter-spacing:.05em;
    text-transform:none
}
.paragraph-2{
    text-align:center
}
.paragraph-3{
    text-align:center
}
.text-block{
    display:inline-block;
    margin-top:0;
    margin-bottom:0;
    padding-top:auto;
    padding-bottom:auto
}
.text-box{
    box-shadow:0 0 6px 0 #cecece;
    border: 2px solid #5d5d5d;
    color: #6d6d6d;
    border-radius: 0.5em;
    height: 200px;
    width: 600px;
    padding-top: 1em;
    padding-left: 1em;
    vertical-align: text-top;
    line-height: 1em;
    resize: none;
}
.text-box:focus {
    outline: none;
}
.card-list: {
    text-align: center;
}
.flashcard{
    display: inline-block;
    box-shadow: 0 0 6px 0 #cecece;
    border: 2px solid #5d5d5d;
    border-radius: 0.5em;
    height: 200px;
    width: 350px;
}
.question{

}
.answer{

}
.paragraph-4{
    font-style:normal
}
.button-2{
    display:block;
    width:50%;
    padding:10px;
    float:none;
    border-radius:1em;
    text-align:center
}
.image-5{
    margin-right:0;
    margin-left:0;
    padding-right:0;
    float:none;
    text-align:left
}
.image-6{
    float:none;
    border-radius:5px;
    box-shadow:0 3px 7px 0 #cecece,0 0 6px 0 #cecece
}
.image-7{
    float:none;
    box-shadow:0 0 6px 0 #cecece
}
.button-3{
    display:block
}
.button-4{
    float:none;
    text-align:center
}
.heading-2{
    display:block
}
.link{
    padding:10px 13px;
    background-color:#4286f4;
    color:#fff;
    text-align:center
}
.bold-text-2{
    color:#0874d8
}
.text-block-2{
    display:block;
    margin-left:5px;
    float:left;
    font-family:Lato,sans-serif;
    color:#5a5a5a;
    font-size:1em;
    line-height:4em;
    font-weight:700;
    letter-spacing:1px
}
.heading-3{
    margin-top:0;
    margin-bottom:.5em;
    font-family:Lato,sans-serif;
    color:#000;
    font-size:2em;
    font-weight:900
}
.body{
    background-color:#fff;
    font-family:Lato,sans-serif;
    color:#858585;
    /*background-size:22px 22px*/
}
@keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-moz-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-webkit-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-ms-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
@-o-keyframes fadein{
    from{
        opacity:0
    }
    to{
        opacity:1
    }
}
.section-2{
    background-color:#fdfdfd
}
.text-block-3{
    margin-bottom:10px;
    float:none;
    color:#414141;
    font-size:12px;
    font-weight:700;
    text-align:center
}
.container-2{
    text-align:center
}
.text-block-4{
    margin-bottom:10px;
    color:#000;
    font-weight:700;
    text-shadow:none
}
.heading-4{
    color:#1f1f1f;
    font-weight:700
}
.heading-5{
    color:#1f1f1f;
    font-weight:700
}
.paragraph-5{
    color:rgba(0,0,0,.5);
    font-size:15px;
    font-weight:400;
    line-height:1.5em;
    word-break:keep-all;
    padding:1em 1em
}
.paragraph-6{
    color:#3f3f3f
}
.bold-text-3{
    color:#1a1a1a
}
.bold-text-4{
    color:#1f1f1f
}
.bold-text-5{
    color:#0079fc
}
.footer-link{
    display:inline;
    padding-right:0;
    padding-left:0;
    border-style:none;
    color:#585858;
    font-weight:700;
    text-decoration:none
}
.footer-link:hover{
    border-bottom:2px solid #000
}
.html-embed{
    display:block;
    text-align:left
}
.text-block-5{
    color:#6b6b6b;
    font-size:1.6em;
    line-height:1.2em;
    font-weight:700;
    text-align:center
}
.text-block-5.wow-block{
    font-size:1.2em
}
.row{
    margin-top:1em;
    margin-bottom:1em;
    padding-right:10em;
    padding-left:10em
}
.container-3{
    padding-top:24px
}
.section-3{
    padding-top:1em;
    padding-bottom:2em;
    background-color:#f8f8f8;
    color:#1e69b4
}
.bold-text-6{
    color:#0a91fc;
    font-size:1.4em
}
.bold-text-6.wow-title{
    color:#2a2a2a
}
.column-3{
    position:static;
    display:inline-block
}
.row-2{
    padding-right:10em;
    padding-left:10em
}
.heading-6{
    font-weight:700
}
.image-8{
    box-shadow:0 0 6px 0 #cecece
}
.feature-image{
    margin-top:1em;
    margin-bottom:1em;
    width:100%
}
.feature-text{
    margin-top:1em
}
.feature-heading{
    color:#000;
    font-size:18px;
    font-weight:600;
    line-height:20px;
    margin-bottom:10px;
    padding:0 20px;
    word-break:keep-all
}
.container-4{
    padding-right:10em;
    padding-left:10em
}
.bold-text-7{
    color:#000;
    font-size:20px
}
.section-4{
    margin-top:5px
}
.text-block-6{
    margin-bottom:15px
}
.about-section{
    margin-top:5em;
    padding-top:2em
}
.paragraph-7{
    margin-top:2em;
    margin-bottom:2em;
    font-family:Lato,sans-serif;
    font-size:2em;
    line-height:1.5em;
    text-align:center;
    text-transform:capitalize
}
.heading-7{
    margin-right:4em;
    margin-left:4em;
    padding-top:.5em;
    padding-bottom:.5em;
    border-top:1px dashed #0a91fc;
    border-bottom:1px dashed #0a91fc;
    font-family:Lato,sans-serif;
    color:#0a91fc;
    font-size:2.4em;
    text-align:center
}
.italic-text{
    text-align:center
}
.job-title{
    margin-top:0;
    margin-bottom:1em;
    font-family:Lato,sans-serif;
    color:#6b6b6b;
    text-align:center
}
.paragraph-8{
    margin-top:1em;
    margin-bottom:2em;
    font-family:Lato,sans-serif;
    color:#616161;
    font-size:18px;
    text-align:center;
    letter-spacing:.04em
}
.button-5{
    display:block;
    width:20%;
    margin:4em auto;
    text-align:center
}
.button-5:hover{
    margin-top:4em;
    margin-bottom:4em;
    color:#fff
}
.section-5{
    padding-top:5em;
    background-color:#fff
}
.section-6{
    margin:6em;
    background-color:#fff0;
    padding-top:2em;
    padding-bottom:2em;
    text-align:center
}
.html-embed-2{
    font-family:Lato,sans-serif
}
.row-3{
    font-family:Lato,sans-serif
}
.column-7{
    border-left:1px dotted #000
}
.text-block-7{
    margin-top:2em;
    margin-bottom:2em;
    font-family:Lato,sans-serif;
    font-weight:700
}
.heading-8{
    border-style:none;
    border-width:1px;
    border-color:#000 #000 #3f3f3f;
    font-family:Lato,sans-serif;
    font-size:24px
}
.image-9{
    margin-bottom:2em;
    border:1px solid #000
}
html.w-mod-js [data-ix=fade-in-on-load]{
    opacity:0;
    -webkit-transform:translate(0,24px);
    -ms-transform:translate(0,24px);
    transform:translate(0,24px)
}
html.w-mod-js [data-ix=fade-in-on-scroll]{
    opacity:0;
    -webkit-transform:translate(0,24px);
    -ms-transform:translate(0,24px);
    transform:translate(0,24px)
}
@media (max-width:991px){
    .nav-link{
        padding:18px 0
    }
    .nav-link:hover{
        box-shadow:inset 0 3px 0 0 transparent
    }
    .nav-link.menu{
        padding:22px 17px;
        font-size:30px
    }
    .nav-menu{
        padding-top:13px;
        padding-bottom:13px;
        background-color:rgba(255,255,255,.98);
        color:#000
    }
    .main-heading{
        font-size:3em
    }
    .main-image{
        margin-top:49px
    }
    .container-4{
        padding-right:5em;
        padding-left:5em
    }
    .paragraph-8{
        margin-bottom:2em;
        padding-right:2em;
        padding-left:2em;
        font-family:Lato,sans-serif;
        color:#000;
        font-weight:700;
        text-align:center
    }
    .column-4{
        margin-bottom:2em
    }
    .column-5{
        margin-bottom:2em
    }
    .column-6{
        margin-bottom:2em
    }
}
@media (max-width:767px){
    .beta-mark{
        float:none!important
    }
    h3{
        margin-bottom:8px
    }
    .logo-text{
        margin-top:15px
    }
    .nav-link.menu{
        padding-top:11px;
        padding-bottom:11px
    }
    .section{
        padding-top:43px;
        padding-bottom:43px;
        text-align:center
    }
    .section.main{
        margin-top:0;
        padding-top:50px
    }
    .main-subtitle{
        margin-bottom:1em;
        text-align:center
    }
    .nav-menu{
        padding-right:12px;
        padding-left:12px
    }
    .footer-title{
        margin-top:35px
    }
    .main-heading{
        font-size:2em;
        margin-top:0;
        padding-top:.5em;
        text-align:center
    }
    .section-subtitle{
        margin-bottom:44px
    }
    .feature{
        margin-bottom:32px;
        text-align:center
    }
    .feature-icon{
        margin-bottom:4px
    }
    .column{
        padding-right:25px;
        padding-left:25px
    }
    .image-2{
        display:block;
        width:50%;
        margin-right:auto;
        margin-left:auto;
        padding-right:auto;
        padding-left:auto;
        float:none
    }
    .column-2{
        padding-right:0;
        padding-left:0
    }
    .row{
        padding-right:5em;
        padding-left:5em
    }
    .container-4{
        padding-right:2em;
        padding-left:2em
    }
}
@media (max-width:479px){
    .main-subtitle{
        font-size:1.2em;
        font-weight:500
    }
    .footer-slogan{
        font-size:14px
    }
    .main-heading{
        font-size:2em
    }
    .feature-row{
        padding-right:2em;
        padding-left:2em
    }
    .image-2{
        width:80%
    }
    .image-7{
        float:none
    }
    .heading-3{
        margin-right:10px;
        margin-left:10px
    }
    .container-4{
        padding-right:1em;
        padding-left:1em
    }
    .heading-7{
        margin-right:1em;
        margin-left:1em
    }
    .heading-8{
        margin-right:.5em;
        margin-left:.5em;
        border-top-style:none
    }
}
.beta-mark{
    border-radius:.2em;
    display:inline;
    float:left;
    padding:.1em .5em;
    color:orange;
    border:1px solid orange
}
.beta-bottom{
    border-radius:.2em;
    display:inline;
    padding:.1em .5em;
    margin:1em;
    color:orange;
    border:1px solid orange
}
.navigation:after{
    content:"beta";
    width:80px;
    height:25px;
    background:#ee8e4a;
    top:7px;
    left:-20px;
    text-align:center;
    font-size:13px;
    font-family:sans-serif;
    text-transform:uppercase;
    font-weight:700;
    color:#fff;
    line-height:27px;
    -ms-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
}
