* {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body {
	margin: 0;
}
p {
	color: #6d6d6d;
	font-size: 16px;
	font-weight: 200;
	line-height: 1.4em;
    max-width: 767px;
}

a {
	text-decoration: none;
	color: #333;
	font-weight: 600;

}
#nav {
	height: 6em;
	max-width: 960px;
	margin: 0 auto;
	padding: 0em 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;

}
.app-buttons {
	display: flex;
	align-items: left;
	flex-direction: row;
}

.nav-link {
	color: #C5C5C5;
	text-decoration: none;
	margin: 4px;
}
.container {
	max-width: 960px;
	margin: 0 auto;
	padding: 0em 3em;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
}
#header {
	min-height: 500px;
}

#nav-left {
	display: inline-block;
}

#nav-right {
	display: inline-block;
	vertical-align: middle;
	text-align: right;
}

#logo {
	height: 2em;
}
.left {
    text-align: left;
    display: inline-block;
    flex-basis: 60%;
    margin: 2em 0;
}

.right {
	display: inline-block;
	margin-right: 0;
	width: 40%;
	vertical-align: middle;
	text-align: center;
}

.app-button {
	height: 40px;
}

.header-title {
	font-size: 2.5em;
	font-weight: 700;
	margin: 0;
	max-width: 500px;
}

.header-subtitle {
	font-size: 1.125em;
	font-weight: 300;
	color: #737373;
	max-width: 500px;
}

.image.tilt {
	transform: rotate(5deg);
}

.image.undraggable {
	user-drag: none; 
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}

.flashcard {
	padding: 0.75em;
	width: 15em;
	height: 10em;
	color: #333;
	font-weight: 600;
	font-size: 0.9em;
	vertical-align: top;
	border-radius: 0.25em;
	box-shadow: 0 0 10px 0 #cecece;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
}

.demo {
	background-color: #FAFAFA;
}

#qg-input-box {
    box-shadow:0 0 6px 0 #cecece;
    border: 2px solid #FFFFFF;
    color: #6d6d6d;
    font-size: 1em;
    border-radius: 0.5em;
    height: 20em;
    width: 90%;
    padding: 1em;
    vertical-align: text-top;
    line-height: 1em;
    resize: none;
}

#qg-input-box:focus {
    outline: none;
}

#submit-button {
	border: 2px solid #bd21ff;
	border-radius: 1em;
	color: #bd21ff;
	background-color: #FAFAFA;
	padding: 0.75em;
	margin-top: 1em;
	font-size: 16px;
	font-weight: 700;
    transition: background-color 0.2s ease-in-out;
    cursor: pointer;
}

#submit-button:focus {
	outline: none;
}

#submit-button:hover {
	color: #FFFFFF;
	background-color: #bd21ff;
}

#question-list {
	text-align: left;
	vertical-align: top;
	/*-webkit-touch-callout: none; /* iOS Safari */
	  /*-webkit-user-select: none; /* Safari */
	   /*-khtml-user-select: none; /* Konqueror HTML */
	     /*-moz-user-select: none; /* Firefox */
	      /*-ms-user-select: none;  Internet Explorer/Edge */
	          /*user-select: none;  Non-prefixed version, currently*/
	                                /*supported by Chrome and Opera */
}

.slick-slide {
	/*text-align: center;*/
	/*color: #419be0;*/
	padding: 4em;
	/*background: white;*/
}
.section-title {
	width: 100%;
	padding: 1em 0 0.5em;
    margin: 0;
	text-align: center;
}
#textbox-container {
	margin: 2em;
}
#text-input {
	display: block;
	margin: auto;
}

#demobox-left {
	display: inline-block;
	text-align: left;
	margin-left: 0;
	width: 40%;
}

#demobox-right {
	display: inline-block;
	text-align: right;
	margin-right: 0;
	width: 52.5%;
}

#demo-warning {
	padding-top: 1em;
	color: #C5C5C5;
	margin-right: 0;
}
#features {
	padding: 5em;
	flex-wrap: wrap;
	justify-content: center;
}

.feature {
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin: 1em; 
	flex-basis: 30%;
}
.slick-next:before, .slick-prev:before {
	color: #9e21ff;
}

.feature-image {
	height: 12em;
}

.footer {
	padding: 10px;
	text-align: center;
}
@media screen and (min-width: 767px) {
  #header {
    flex-direction: row;
    height: 80vh
  }
}
@media screen and (max-width: 767px) {
  .item {
  	width: 100%;
  	flex-basis: 100%
  }
  #header-right {
  	 overflow: hidden;
  	 height: 20em;
  }
  .container {
  	flex-direction: column;
  	margin: 0;
  	padding: 0em 3em;
  }
}