p{
	font-size: 12px;
}
.profimage{
	width: 200px;
	display: block;
	height: auto;
}
.a-container {
  position: relative;
  width: 200px;
  margin: 0 auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.a-container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.media-button{
	color: white;
}